#carousell-disp-child {
    display: flex;
    padding: 20px;
    align-items: center;
} 

#carousell-disp-imx {
    width: 50%
}

#carousell-disp-contx {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding: 15px 20px;
    font-size: large;
    
}

#carousell-disp-contx p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#carousell-disp-contx h2 {
    
}

@media (max-width: 600px) {

    #carousell-disp-child {
        position: relative;
        padding: 20px;
        margin-bottom: 250px;
    }

    #carousell-disp-contx {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        padding: 15px 10px;
        font-size: small;
        
    }
}
@media (max-width: 1000px) {
    #carousell-disp-child {
       
        position: relative;
        padding: 20px;
        margin-bottom: 350px;
    }


    #carousell-disp-imx {
        width: 90%;
    }

    #carousell-disp-contx {
        width: 70%;
        padding-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.692);
        position: absolute;
        right: 20px;
        top: 70%;
        box-shadow: 1px 1px 5px #3d3d3d50;
        backdrop-filter: blur(12px);
    }
}