#temp-agent #globe-view-lambert {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    pointer-events: none; /* Clickthrough events */
    padding-top: 180px;
    z-index: 2;
    top: 0;
    left: 0;
}

#intro-agent-container {
    max-width: 500px;
    margin-left: 20px;
    margin-top: 60px;
    position: absolute;
    background-color: #1a1a1a90;
    pointer-events: all;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    right: 10px;
    bottom: 20px;
    opacity: 1;
    
}



#intro-agent-container h5{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #FFFFFF;

}

#intro-agent-container p{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-align: unset;
}

#intro-agent-container button#disp-hm-more-about-servir-btn {
    padding: 15px;
    margin-top: 18px;
    margin-bottom: 10px;
    outline: none;
    background-color: lightblue;
    color: rgb(10, 69, 88);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 800;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
}


#intro-agent-container button#disp-hm-more-about-servir-btn:hover {
    background-color: cadetblue;
}

/* Medium Device (Tablet) */
@media (max-width:1000px) {
  
}
/* Small Device (PHONE) */
@media (max-width:600px) {
    #intro-agent-container h5 {
        font-size: 18px;
    }

    #intro-agent-container p {
        font-size: 15px;
    }
}