.main-header {
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #1a1a1a;
    backdrop-filter: blur(2.5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.main-header .header-title {
    font-family: 'Orbitron', sans-serif;
    font-size: larger;
    color: #FFFFFF;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    
}

.main-header .header-title div:nth-child(2) {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.main-header .header-title div:nth-child(2) span {
    font-size: 12px;
}

.main-header > nav{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}

.main-header > nav > div.navitem {
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(255, 0, 0, 0);
    text-align: center;
    transition: 0.5s;
}

.main-header > nav > div.navitem:hover {
    border-bottom: 2px solid red;
    transform: scale(1.1);
}

/* Medium Device (Tablet) */
@media (max-width:1000px) {
    .main-header > nav > div.navitem {
        display: none;
    }

}
/* Small Device (PHONE) */
@media (max-width:1000px) {
   
}