.sidebar {
  background-color: rgba(0, 13, 56, 0.377);
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  backdrop-filter: blur(1px);
  transition: 0.5s;

}

.sidebar.open {
  width: 100%;
  display: flex;
  visibility: visible;
}

.sidebar.closed {
  width: 0%;
  visibility: hidden;
  /* display: none; */
}


.sidebar nav {
  position: fixed;
  right: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 600px;
  min-width: 350px;
  height: 100%;
  padding: 40px;
  padding-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
  overflow-y: scroll;
}

.sidebar nav > div.navitem {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  transition: 0.5s;
}

.sidebar nav > div.navitem,
*::selection {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.sidebar nav > div.navitem:hover {
  background-color: lightblue;
  transform: skew(10deg, 0deg);
  outline: 1px solid rgba(0, 0, 0, 0.411);
  color: azure;
}

.sidebar nav div:nth-last-child(1) {
  /* background-color: lightblue; */
  margin-bottom: 40px;
}
