* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  max-width: 100vw;
  min-width: 350px;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}


#section-title {
  background: linear-gradient(to bottom right, rgb(25, 24, 43), #da803a);
  font-family: 'Poppins', sans-serif;
  margin-left: 20px;
  margin-top: 50px;
  background-clip: text;
  color: transparent;
}